<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <th>Título</th>
        <th>Precio</th>
        <th>Inventario</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- rows -->
       @for(product of products(); track product.id){
        <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <td>
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle h-12 w-12">
                <img
                  [src]="product.images | productImage"
                  [alt]="product.title" />
              </div>
            </div>
            <div>
              <div class="font-bold">
                <a [routerLink]="['/admin/products', product.id]"
                   class="font-bold hover:text-accent transition-colors duration-300">{{ product.title}}</a>
            </div>
              <div class="text-sm opacity-50">{{product.sizes.join(", ")}}</div>
            </div>
          </div>
        </td>
        <td>
          {{ product.price | currency }}
          <br />
          <span class="badge badge-ghost badge-sm">Desktop Support Technician</span>
        </td>
        <td>
            @if ( getTotalStock(product) < 10) {
                <span class="badge badge-error">{{ getTotalStock(product) }}</span>
            }

            @else if ( getTotalStock(product) < 20) {
                <span class="badge badge-warning">{{getTotalStock(product)}}</span>
            }

            @else {
                <span class="badge-success">{{getTotalStock(product)}}</span>
            }
        </td>
        <th>
          <a [routerLink]="['/admin/products', product.id]"
            class="btn btn-ghost text-accent btn-xs">Detalles</a>
        </th>
      </tr>
       }
      
    </tbody>
    <!-- foot -->
    <tfoot>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Job</th>
        <th>Favorite Color</th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>